[project]
	description = Automatically exported from code.google.com/p/sparserss
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prakashmishra1598
[access "refs/for/refs/*"]
	read = group user/prakashmishra1598
	push = group user/prakashmishra1598
	label-Code-Review = -2..+2 group user/prakashmishra1598
	label-Verified = -1..+1 group user/prakashmishra1598
	rebase = group user/prakashmishra1598
	removeReviewer = group user/prakashmishra1598
	submit = group user/prakashmishra1598
[access "refs/heads/*"]
	read = group user/prakashmishra1598
	create = group user/prakashmishra1598
	push = +force group user/prakashmishra1598
	pushMerge = group user/prakashmishra1598
[access "refs/tags/*"]
	push = +force group user/prakashmishra1598
	pushTag = group user/prakashmishra1598
	pushSignedTag = group user/prakashmishra1598
